/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #5a5a5a;
  background: #DDD !important;
}
a {
  text-decoration: none;
  color: inherit;
}
.hr {
  height: 50px;
}
.results {
  text-align: center;
}
.results.animate-container {
  display: inline-block;
  height: 110px;
  width: 135px;
  margin: 0 0 15px 15px;
  background: #EFEDED;
  border-radius: 9px;
  padding: 1px;
}
.results.animate-container:first-child {
  margin-left: 0;
}
@media screen and (max-width: 500px) {
  .results.animate-container {
    margin: 15px auto !important;
    display: block;
  }
}
.center {
  text-align: center;
}
.highchart-scatter {
  height: 200px;
}
#color-chart {
  height: 150px;
}
#color-chart .highcharts-markers path {
  stroke: #999;
}
.results-drawer {
  height: 250px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  border-bottom: 4px solid #fff;
}
.results-drawer.color-chart {
  height: 200px;
}
.results-drawer.motion-chart {
  height: 300px;
}
.results-drawer.close {
  height: 0;
}
header.drawer-header {
  position: relative;
  cursor: pointer;
}
header.drawer-header:after {
  content: '';
  border: 10px solid #999;
  border-top-color: transparent;
  border-right: transparent 9px solid;
  border-left: transparent 9px solid;
  position: absolute;
  top: 10px;
  right: 20px;
  transform-origin: center 16px;
  transition: 0.25s ease-in-out;
}
header.drawer-header.close:after {
  transform: rotate(180deg);
}
h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-transform: capitalize;
}
h2 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .25px;
  text-transform: uppercase;
  font-weight: bold;
}
p {
  font-size: 16px;
  line-height: 22px;
  margin: 24px 0;
}
p.large-body {
  font-size: 16px;
  line-height: 22px;
  margin: 12px 0;
}
p.small-body {
  font-size: 14px;
  line-height: 18px;
  margin: 12px 0;
}
.reversed-text {
  font-weight: 300;
  letter-spacing: .5px;
}
.reversed-header {
  font-weight: 600;
  letter-spacing: .5px;
}
.content {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: 0 auto;
  transition: margin 0.25s ease-in-out;
  position: relative;
}
.content .flip {
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  /* again */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: 40px 0;
  overflow: visible;
  transition: all 1s ease-in-out;
}
.content .flip.ng-enter {
  transform: rotateY(-180deg);
}
.content .flip.ng-enter-active {
  transform: rotateY(0deg);
}
.content .flip.ng-leave {
  transform: rotateY(0deg);
}
.content .flip.ng-leave-active {
  transform: rotateY(180deg);
  z-index: 3;
}
.content .flip .wrapper {
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.content .flip .wrapper .padding {
  padding: 30px;
}
.content .flip .wrapper .padding.no-bottom-padding {
  padding-bottom: 0;
}
.content .flip .wrapper .slide-section {
  position: relative;
  transition: 0.3s ease-in-out height;
  overflow: hidden;
}
.content .flip .wrapper .slide-section.Q1 {
  height: 152px;
}
.content .flip .wrapper .slide-section.Q2 {
  height: 152px;
}
.content .flip .wrapper .slide-section.Q3 {
  height: 400px;
}
.content .flip .wrapper .slide-section .slide-content {
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.5s ease-in-out all;
}
.content .flip .wrapper .slide-section .slide-content.right {
  left: 100%;
}
.content .flip .wrapper .slide-section .slide-content.left {
  left: -100%;
}
.content .flip .wrapper .slide-section .slide-content.ng-hide {
  right: 100%;
}
.content .flip .wrapper header {
  background: #f1f1f1;
  padding: 15px 30px;
}
.content .flip .wrapper footer {
  background: #f1f1f1;
  text-align: right;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 500px) {
  .content .flip {
    margin: 0;
    border-radius: 0;
  }
}
.animate-container {
  font-size: 0;
  position: relative;
}
.animate-container .animate-block {
  background: #fff;
  width: 70px;
  height: 70px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
}
.animate-container .animate-block.animate {
  animation-iteration-count: infinite;
}
@keyframes Bounce {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes Wobble {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes Tada {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  10% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  20% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  30% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  40% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  50% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  60% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  70% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  80% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  90% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  95% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  100% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes Jello {
  from,
  11.1%,
  to {
    transform: none;
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
.input-group {
  text-align: center;
}
.input-group label {
  display: block;
}
.input-group ul {
  margin: 0 auto;
  display: block;
}
.input-group ul li {
  cursor: pointer;
}
.input-group.colors .range-wrap {
  position: relative;
  padding: 0px;
}
.input-group.colors .range-wrap input[type=range]::-webkit-slider-runnable-track {
  background: url(../img/hue.png) no-repeat left top;
  background-size: 100% auto;
}
.input-group.colors ul li {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  transition: width .25s linear, height .25s linear, margin .25s linear;
}
.input-group.colors ul li.active {
  margin: 0;
  width: 40px;
  height: 40px;
}
.input-group.corners {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
.input-group.corners .range-wrap {
  position: relative;
  padding: 0 40px;
}
.input-group.corners .circle,
.input-group.corners .square {
  position: absolute;
  border: 2px solid #999;
  background: #999;
  width: 24px;
  height: 24px;
}
.input-group.corners .square {
  top: 3px;
  left: 0;
}
.input-group.corners .circle {
  border-radius: 50%;
  right: 0;
  top: 3px;
}
.input-group.motion .range-wrap {
  position: relative;
  padding: 0 40px;
}
.input-group.motion .range-wrap .speed-icon-left,
.input-group.motion .range-wrap .speed-icon-right {
  position: absolute;
  width: 30px;
  height: 30px;
}
.input-group.motion .range-wrap .speed-icon-left g path,
.input-group.motion .range-wrap .speed-icon-right g path {
  fill: #999;
}
.input-group.motion .range-wrap .speed-icon-left {
  top: 0;
  left: 0;
}
.input-group.motion .range-wrap .speed-icon-right {
  right: 0;
  top: 0;
}
.input-group.motion ul {
  width: 300px;
}
.input-group.motion ul li {
  display: inline-block;
  background: #999 !important;
  color: #fff !important;
  width: 140px;
  border-radius: 3px;
  margin: 5px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  transition: 0.25s ease-in-out background-color, 0.25s ease-in-out color;
  border-radius: 3px !important;
}
.input-group.motion ul li.inactive {
  background-color: #f1f1f1 !important;
  color: #333 !important;
}
.emotion-title {
  font-size: 18px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
button.submit {
  border: none;
  background: #999 !important;
  border-radius: 4px !important;
  color: #FFF !important;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  right: 0;
}
button.submit.back {
  float: left;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #222, 0px 0px 0px #2f2f2f;
  background: #ccc;
  border-radius: 5px;
  border: 0px solid black;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #111, 0px 0px 0px #1e1e1e;
  border: 1px solid transparent;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #f1f1f1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d9d9d9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #222, 0px 0px 0px #2f2f2f;
  background: #ccc;
  border-radius: 5px;
  border: 0px solid black;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #111, 0px 0px 0px #1e1e1e;
  border: 1px solid transparent;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #f1f1f1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 24px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bfbfbf;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #222, 0px 0px 0px #2f2f2f;
}
input[type=range]::-ms-fill-upper {
  background: #ccc;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #222, 0px 0px 0px #2f2f2f;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #111, 0px 0px 0px #1e1e1e;
  border: 1px solid transparent;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #f1f1f1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d9d9d9;
}
#navigation {
  display: none;
}
#navigation ul li {
  display: inline-block;
}
#navigation ul li.active {
  color: blue;
}
table {
  font-size: 18px;
  margin-bottom: 50px;
}
table tr {
  cellpadding: 15px;
  padding: 5px;
  line-height: 25px;
}
table tr.even {
  background-color: #f1f1f1;
}
table tr th {
  font-weight: bold;
  text-align: center;
}
table tr td {
  padding: 0 8px;
  text-align: center;
}
table tr td.left-align {
  text-align: left;
}
table tr td .result-preview {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
}
.social-share-wrapper {
  text-align: center;
}
.social-share-wrapper .share-text {
  padding-bottom: 10px;
}
.social-share-wrapper .social-share {
  display: inline-block;
}
.social-share-wrapper .social-share button {
  padding: 0;
  margin: 0;
  display: inline-block;
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}
.social-share-wrapper .social-share button i {
  font-size: 25px;
  color: #999;
  padding: 5px;
}
