.animate-container {
    //background: #f1f1f1;
    font-size: 0;
    overflow: hidden;
    position: relative;
    .animate-block {
        background: #fff;
        width: 70px;
        height: 70px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        transform: translateX(-100%);
        opacity: 1;
        cursor: pointer;
        &.move-right {
            transform: translateX(100%);
        }
    }
}