.results {
    &.animate-container {
        display: inline-block;
        width: 120px;
        margin: 10px;
        background: #EFEDED;
        border-radius: 9px;
    }
}

.highchart-scatter {
    height:200px;
}