
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@font-stack: 'Raleway', sans-serif;

///////////// COLORS ////////////////
// Green
@green: #8BC326;
@light-green: #e9f2d9;

// Red
@red: #ed6058;
@light-red: #fbdcda;

// Blue
@blue: #29AAE1;

// Blue Steel
@blue-steel: #3d4752;
@blue-steel-2: #77818C;
@blue-steel-3: #95A8BA;
@blue-steel-dark: #212C35;

// Grey
@light-grey: #f1f1f1;
@secondary-grey: #e5e5e5;