.content {
    //transition: transform 1s;
    //perspective: 600px;
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    transition: margin .25s ease-in-out;
    position: relative;
    .flip {
        transform-style: preserve-3d;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        /* again */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #FFF;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .25);
        margin: 40px 0;
        overflow: visible;
        transition: all 1s ease-in-out;
        &.ng-enter {
            transform: rotateY(-180deg);
        }
        &.ng-enter-active {
            transform: rotateY(0deg);
        }
        &.ng-leave {
            transform: rotateY(0deg);
        }
        &.ng-leave-active {
            transform: rotateY(180deg);
            z-index: 3;
        }
        .wrapper {
            transform: rotateY(0deg);
            backface-visibility: hidden;
            .padding {
                padding: 30px;
                &.no-bottom-padding {
                    padding-bottom: 0;
                }
            }
            .slide-section {
                position: relative;
                transition: .3s ease-in-out height;
                overflow: hidden;
                &.Q1 {
                    height: 152px;
                }
                &.Q2 {
                    height: 152px;
                }
                &.Q3 {
                    height: 400px;
                    @media screen and (max-width: 500px) {
                        height:560px;
                    }
                    @media screen and (max-width: 345px) {
                        height:1020px;
                    }
                }
                .slide-content {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    transition: .5s ease-in-out all;
                    &.right {
                        left: 100%;
                    }
                    &.left {
                        left: -100%;
                    }
                    &.ng-hide {
                        right: 100%;
                    }
                }
            }
            header {
                background: #f1f1f1;
                padding: 15px 30px;
            }
            footer {
                background: #f1f1f1;
                text-align: right;
                padding: 15px;
                border-radius: 0 0 5px 5px;
            }
        }
        @media screen and (max-width: 500px) {
            margin: 0;
            border-radius: 0;
        }
    }
}