<div class="wrapper">
    <div class="padding no-bottom-padding">
        <h1 ng-hide="Q == 1">{{emotion.name}}</h1>
        <!-- start dropdown -->
        <div class="select-wrapper" ng-show="Q == 1">
            <div class="selected-option-wrapper" ng-click="showdropdown = !showdropdown">
                <span class="selected-option"><h1>{{emotion.name}}</h1></span>
            </div>
            <div class="select-dropdown" ng-show="showdropdown">
                <div>
                    <ul>
                        <li class="select-option" ng-repeat="emotion in emotions" ng-click="$parent.emotion.name = emotion; $parent.showdropdown = false;" ng-class="{active: $parent.emotion.name == emotion}">
                            {{emotion}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end dropdown -->
    </div>
    <div class="animate-container">
        <div class="animate-block" style="border-radius:{{emotion.radius}}%; background-color:{{emotion.color.hex}}; animation: {{animation}} linear {{-emotion.speed}}s {{infinite}}; background-color: hsl({{emotion.hue}}, 100%, 47%)"></div>
    </div>
    <div class="slide-section Q{{Q}}">
        <div class="slide-content" ng-class="{'left': Q == 2 || Q == 3}">
            <header>
                <h2>What is the color of {{emotion.name}}?</h2>
            </header>
            <div class="input-group colors padding">
                <div class="range-wrap">
                    <input type="range" min="0" max="360" ng-model="emotion.hue">
                </div>
            </div>
        </div>
        <div class="slide-content" ng-class="{'right': Q == 1, 'left': Q == 3}">
            <header>
                <h2>What is the shape of {{emotion.name}}?</h2>
            </header>
            <div class="input-group corners padding">
                <div class="range-wrap">
                    <div class="square"></div>
                    <input type="range" min="0" max="50" ng-model="emotion.radius">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="slide-content" ng-class="{'right': Q == 2 || Q == 1}">
            <header>
                <h2>Which of these motions is {{emotion.name}}?</h2>
            </header>
            <div class="input-group motion padding">
                <div class="range-wrap">
                    <div ng-include="'img/turtle.svg'" class="speed-icon-left"></div>
                    <input type="range" min="-2" max="-0.2" step=".05" ng-model="emotion.speed" ng-change="changeMotion(emotion.motion)">
                    <div ng-include="'img/rabbit.svg'" class="speed-icon-right"></div>
                </div>
            </div>
            <div class="input-group motion padding">
                <ul>
                    <li class="motion" ng-repeat="motion in motions" ng-click="$parent.emotion.motion = motion; $parent.animation = motion" ng-class="{'inactive':$parent.emotion.motion !== motion}">
                        {{motion}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <button class="submit back" ng-click="Q = (Q-1)" ng-show="Q>1">
            <span>Back</span>
        </button>
        <button class="submit" ng-click="submitEmotion(Q, emotion);">
            <span ng-show="Q !== 3">Next</span><span ng-show="Q == 3">Done</span>
        </button>
    </footer>
</div>