<div class="social-share" ng-controller="socialShare">

  <button class="btn btn-medium font-bold"
  socialshare
  socialshare-provider="facebook"
  socialshare-type="sharer"
  socialshare-text="{{social.text}}"
  socialshare-url="{{social.url}}"
  socialshare-popup-height="300"
  socialshare-popup-width="560"
  socialshare-trigger="click" >
    <i class="fa fa-facebook"></i>
  </button>

  <button class="btn btn-medium font-bold"
  socialshare
  socialshare-provider="twitter"
  socialshare-hashtags="{{social.hashtags}}"
  socialshare-text="{{social.text}}"
  socialshare-url="{{social.url}}"
  socialshare-popup-height="300"
  socialshare-popup-width="400"
  socialshare-trigger="click" >
    <i class="fa fa-twitter"></i>
  </button>

  <button class="btn btn-medium font-bold"
  socialshare
  socialshare-provider="google+"
  socialshare-text="{{social.text}}"
  socialshare-url="{{social.url}}"
  socialshare-popup-height="300"
  socialshare-popup-width="400"
  socialshare-trigger="click">
    <i class="fa fa-google-plus"></i>
  </button>

  <button class="btn btn-medium font-bold"
  socialshare
  socialshare-provider="reddit"
  socialshare-text="{{social.text}}"
  socialshare-url="{{social.url}}"
  socialshare-popup-height="300"
  socialshare-popup-width="400"
  socialshare-trigger="click" >
    <i class="fa fa-reddit"></i>
  </button>

  <button class="btn btn-medium font-bold"
  socialshare
  socialshare-provider="linkedin"
  socialshare-text="{{social.text}}"
  socialshare-url="{{social.url}}"
  socialshare-popup-height="300"
  socialshare-popup-width="400"
  socialshare-trigger="click" >
    <i class="fa fa-linkedin"></i>
  </button>
</div>
  
